on boot
	start ellen

on property:sys.boot_completed=1
	start ellen
	
# let's spoof the device.
on property:service.bootanim.exit=1
	start ellen
	
# shell script that does the job and kills itself after it.
service ellen /system/bin/sh -c /system/bin/ellenJoe.sh
	user root
	group root
	oneshot